.profile_header {
    width: var(--profilepanel-width);
    height: 200px;
    border-bottom: 1px solid #d3d3d3;
    text-align: center;
}

.header_user_photo {
    width: 80px;
    height: 80px;
    margin-top: 30px;
}
.header_user_name {
    margin-top: 5px;
    color: #000000;
    font-size: 20px;
}
.header_user_motto {
    width: auto;
    height: auto;
    margin-left: 3px;
    border: none;
    outline: none;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
}
.header_user_edit {
    margin-top: 10px;
    border-radius: 8px;
    font-size: 12px;
}

.profile_body {
    width: var(--profilepanel-width);
    height: 280px;
}
.body_item {
    width: var(--profilepanel-width);
    height: 70px;
    border-bottom: 1px solid #d3d3d3;
}
.body_item_title {
    padding: 10px 10px 0 10px;
    font-size: 16px;
    color: #000000;
}
.body_item_content {
    display: flex;
    padding: 3px 10px;
    font-size: 12px;
    font-weight: bold;
    color: #999999;
}
.body_item_content span {
    margin-left: auto;
}

.body_footer {
    width: var(--profilepanel-width);
    height: 300px;
}
.footer_item_title {
    display: flex;
}
.footer_item_title span {
    margin-left: auto;
    padding: 15px 10px;
    font-size: 16px;
    font-weight: bold;
    color: #999999;
}
