.body_agreement_manage {
    padding-top: 20px;

}
.body_agreement_manage_container {
    height: 450px;
    margin: 10px auto;
    border: 1px solid #d3d3d3;
    font-size: 15px;
    font-weight: normal;
}
.body_agreement_manage_title {
    margin: 10px auto;
    text-align: center;
}
.body_agreement_manage_content {
    padding: 3px 20px;
}
