
.main_panel{
    display: flex;
    flex-direction: row;

    width: var(--gloabl-width);
    height: var(--global-height);
    background-color: #d20eee;
    margin: 13px auto 0;
}

.title {
  background: rgb(232, 121, 242);
}
