
.body_profile_edit {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.body_profile_edit_container {
    height:420px;
    margin: 10px 0;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
}
.body_profile_edit_item_1 {
    display: flex;
    width: 600px;
    height: 90px;
}
.body_user_avatar_container {
    width: 70px;
    height: 70px;
    border: 1px solid #d3d3d3;
    border-radius: 35px;
    margin: 10px 15px 0 15px;
    text-align: center;
}
.body_user_avatar {
    border-radius: 35px;
    text-align: center;
}
.body_user_avatar_upload_btn {
    padding-top: 20px;
    color: #d3d3d3;
    font-size: 10px;
}
.body_profile_edit_item_name {
    width: 200px;
    height: 90px;
    margin-left: auto;
    padding-top: 20px;
    font-size: 15px;
    text-align: center;
    color: #969896;
}
.body_profile_edit_item_name input {
    width: 190px;
    text-align: center;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    background-color: #ffffff;
}
.body_profile_edit_name {
    margin: 3px auto;
    width: 120px;
    border-radius: 3px;
    font-size: 12px;
    color: #a9a9a9;
    font-style: italic;
}
.body_profile_edit_item_2 {
    width: 600px;
    height: 60px;
    border-top: 1px solid #d3d3d3;
    padding: 3px 15px;
    font-size: 15px;
    color: #000000;
}
.body_profile_edit_item_2 div {
    padding-left: 10px;
}
.body_isOk {
    width: 600px;
    margin: 10px auto;
    text-align: center;
}

.body_btn1 {
    width: 80px;
    height: 30px;
    background-color: #63a35c;
    border: none;
    border-radius: 8px;
    font-size: 15px;
}
