
.title {
  background: rgb(121, 242, 178);
}


.message_item{
    padding: 5px 0;
    display: flex;
    flex-direction: row;
}
.self_message_item{
    flex-direction: row-reverse;
}
.message_and_title{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}
.name_title{
    font-size: 15px;
    font-weight: bold;
}
.message_content{
    background-color: #EEEEEE;
    font-size: 12px;
    color: black;
    padding: 8px 10px;
    border-radius: 2px;
    /*margin-right: 10px;*/
}

/*.self_message_contet{*/
/*    margin-right: 0;*/
/*    margin-left: 10px;*/
/*}*/

.column_content{
}
