.friend_Panel {
    display: flex;
    flex-direction: column;
    height:var(--global-height);
    width: var(--cvspanel-width);
    background: rgb(64, 46, 88);
    border:1px solid;
}
.friend_header{
    height: 79px;
    border-bottom: 1px solid;
    border-color: #35244d;
}
.search{
    float: left;
    margin-left: 30px;
    margin-top: 18px;
    width: 220px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background: #35244d;
}
.search input{
    background: #35244d;
    color: #78678f;
}
.search input::placeholder{
    color: #78678f;
}
.search svg{
    font-size: 16px;
    color: #78678f;
}
.add{
    float: left;
    height: 40px;
    width: 40px;
    margin-top: 18px;
    margin-left: 15px;
    border-radius: 20px;
    background-color: #35244d;
    position: relative;
}
.add_icon{
    position: absolute;
    left: 10px;
    bottom: -1px;
    font-size: 30px;
    color: #78678f;
}