.title {
  background: rgb(121, 242, 121);
}
.msg_panel {
    display: flex;
    flex-direction: column;
    width: var(--messagepanel-width);
    height: var(--global-height);
    border-right: 1px solid #d3d3d3;
    background-color: #ffffff;
}
.msg_body {
    width: var(--messagepanel-width);
    height: 600px;

}
