.setting_body {
    display: flex;
    width: var(--settingpage-width);
    height: var(--global-height);
    border: 1px solid #d3d3d3;
    background-color: #ffffff;
}
.title {
  background: rgb(121, 218, 242);
}
