.body {

}

.cvs_body {
    height: 720px;
    margin-top: 10px;
    overflow-y: auto
}

/*设置item宽度*/
.item {
    padding: 0 18px;
    position: relative;
    padding-top: 10px;
    border-bottom: 0.5px solid #bbb;
}

.cur_cvs{
    background-color: #d5d5d9;
}

/*item的鼠标覆盖样式*/
.cvs_body ul li:hover {
    background-color: #d5d5d9;
}

/*用户状态*/
.userStatus {
    position: absolute;
    left: 58px;
    top: 47px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    float: right;
}

.userStatusOnline{
    background-color: #00ff00;

}

.userStatusOffline{
    background-color: #969896;
}

/*头 像*/
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-top: 1px;
}

.userName {
    font-size: 16px;
    color: #000000;
}

.description {
    font-size: 13px;
    color: #000000;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.lastMsgTime {
    font-family: Arial, serif;
    font-size: 11px;
    color: #000000;
    font-style: normal;
    margin-bottom: 5px;
}

.unreadMsgNum {
    height: 15px;
    width: 18px;
    font-size: 12px;
    color: white;
    border-radius: 8px;
    background-color: #FF5C49;
    text-align: center;
    line-height: 15px;
    margin-left: 10px;
    float: right;

}
.emptyBlock{
    height: 15px;
    width: 18px;
    text-align: center;
    line-height: 15px;
    margin-left: 10px;
    float: right;
}
/*设置滚动条*/
.cvs_body::-webkit-scrollbar {
    width: 10px;
    height: 10px;

}

.cvs_body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px; /*滚动条的背景区域的圆角*/
    background-color: whitesmoke; /*滚动条的背景颜色*/
}

.cvs_body::-webkit-scrollbar-thumb {
    height: 20px;
    border-radius: 5px; /*滚动条的圆角*/
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: white; /*滚动条的背景颜色*/
}
