.msg_footer {
    width: var(--messagepanel-width);
    height: 100px;
    border-top: 1px solid #d3d3d3;
}

.footer_icons {
    font-size: 22px;
    margin: 10px 10px;
    color: #969896;

}
.footer_input_area {
    display: flex;
    margin-top: 10px;
}
.footer_input {
    width: 500px;
    margin-left: 10px;
}
.footer_send_area {
    width: 46px;
    height: 46px;
    border-radius: 23px;
    margin-left: 12px;
    background-color: #6633cc;
    text-align: center;
}
.footer_icons_send {
    margin: 12px 12px;
    font-size: 22px;
    color: #ffffff;
}
