.body{
  height: 720px;
  overflow-y:auto
}
.friendList{
}
.friendList a{
  font-size: 16px;
  color: #753fae;
}
/*设置item宽度*/
.item{
  padding: 0 18px;
  position: relative;
  border-bottom: 0.5px solid #bbb;
}
/*item的鼠标覆盖样式*/
.friendList ul li:hover{
  background-color: papayawhip;
}
/*头 像*/
.avatar{
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
.userName{
  height: 50px;
  line-height: 50px;
}
/*设置滚动条*/
.body::-webkit-scrollbar{
  width: 10px;
  height: 10px;

}
.body::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 5px;  /*滚动条的背景区域的圆角*/
  background-color: whitesmoke;/*滚动条的背景颜色*/
}
.body::-webkit-scrollbar-thumb
{
  height: 20px;
  border-radius: 5px;  /*滚动条的圆角*/
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: white;  /*滚动条的背景颜色*/
}


.newFriend{
  height: 60px;
  border-bottom: 1px #35244d solid;
  position: relative;
}
.newFriend:hover{
  background-color: papayawhip;
}
.iconFriend{
  position: absolute;
  top:4px;
  left: 18px;

  height: 50px;
  width: 50px;
  border-radius: 10px;
  background-color: darkorange;
  color: #fdfdfe;
  line-height: 50px;
  text-align: center;
  font-size: 35px;
}
.newFriend p{
  position: absolute;
  left:68px;
  top: 4px;

  width: 120px;
  height: 50px;
  text-align: center;
  line-height: 50px;

  font-size: 20px;
  color: #753fae;
}
.unKnownUser{
  position: absolute;
  left: 278px;
  top: 22px;
  height: 15px;
  width: 18px;
  font-size: 8px;
  color: white;
  border-radius: 8px;
  background-color: #FF5C49;
  text-align: center;
  line-height: 15px;
}
.componentHover{
  display: none;
}